/* Global */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* Body */
body {
  background-color: #232b2b;
  min-height: 100vh;
}

/* header */
header {
  text-align: center;
  background-color: #353839;
  margin-top: 0;
  color: rgb(172, 18, 18);
  padding: 30px;
}

/* Blocks */
.blocks {
  /* border: 5px solid #232b2b; */
  margin: 60px auto;
  width: 500px;
  gap: 20px;
}

/* Block */
.block {
  border-top: 2px solid transparent; ;
  border-bottom: 2px solid transparent;
  background-color: #6e7f80;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1);
  display: block;
  margin-bottom: auto;
  padding: 10px;
}

/* Block 2 */
.block2 {
  background-color: #353839;
  border: 5x solid white;
  margin: 60px auto;
  padding: 10px;
  width: 500px;
  height: 50px;
  gap: 20px;
  text-align: center;
  color: white;
}

/* span */
.span {
  text-align: center;
}

/* Block hover */
.block:hover {
  background-color: #3b444b;
  border-bottom: 3px solid white;
}

/* block active */
.block:active {
  background-color: brown;
}

/* block last child ML */
.block:last-child {
  margin-left: 0;
}

/* block color for child 2 */
.block:nth-child(2n) {
  background-color: #536872;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.block:nth-child(2n):hover{
  background-color: #3b444b;
}
/* block active for 2n child */
.block:nth-child(2n):active {
  background-color: brown;
}

/* checkbox */
.checkbox:checked + .text {
  text-decoration: line-through;
}

/* text */
.text {
  font-size: 16px;
  color: white;
}
